SF_CodeBase/flows/HVS_NoPhoneMaleFormal1554374364321-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_CadenceStepTrackerIdRef_21</name>
        <label>Set CadenceStepTrackerId Ref</label>
        <locationX>800</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>CadenceStepTrackerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CadenceStepTrackerToStartId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CadenceStepTrackerCompletionReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AutomaticallyCompleted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CadenceStepToCompleteId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CadenceStepToCompleteName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CadenceStepToStartId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CadenceStepToStartType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CadenceStepToStartWaitTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CadenceStepTrackerToStartId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RestartFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_ErrorMessage_7</name>
        <label>Set Error Message</label>
        <locationX>400</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No branches were taken</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decide_Next_Steps_10</name>
        <label>Decide Next Steps</label>
        <locationX>400</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Set_ErrorMessage_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Next_Step_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CadenceTrackerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadenceStepToCompleteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadenceStepToStartType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exit_On_Success</targetReference>
            </connector>
            <label>Exit</label>
        </rules>
        <rules>
            <name>Next_Step_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CadenceTrackerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadenceStepToCompleteName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadenceStepToStartType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MakeACall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cadence_Step_Tracker_12</targetReference>
            </connector>
            <label>MakeACall</label>
        </rules>
        <rules>
            <name>Next_Step_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CadenceTrackerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadenceStepToCompleteName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadenceStepToStartType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SendAnEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cadence_Step_Tracker_12</targetReference>
            </connector>
            <label>SendAnEmail</label>
        </rules>
        <rules>
            <name>Next_Step_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CadenceTrackerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadenceStepToCompleteName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadenceStepToStartType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CreateTask</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cadence_Step_Tracker_12</targetReference>
            </connector>
            <label>CreateTask</label>
        </rules>
        <rules>
            <name>Next_Step_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CadenceTrackerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadenceStepToCompleteName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadenceStepToStartType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cadence_Step_Tracker_17</targetReference>
            </connector>
            <label>Wait</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CST_Id_Null_8</name>
        <label>Is CST Id Null</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>Lookup_CST_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CST_Id_is_Null_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CadenceStepTrackerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cadence_Tracker_5</targetReference>
            </connector>
            <label>CST Id is Null</label>
        </rules>
    </decisions>
    <description>Lead doesn&apos;t have a phone number? Let&apos;s try to get in touch via email</description>
    <formulas>
        <name>Wait_Formula_20</name>
        <dataType>Number</dataType>
        <expression>{!CadenceStepToStartWaitTime} / 3600</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>HVS_NoPhoneMaleFormal1554374364321-1_InterviewLabel</interviewLabel>
    <label>HVS_NoPhoneMaleFormal1554374364321-1</label>
    <processType>ActionCadenceFlow</processType>
    <recordCreates>
        <name>Create_Cadence_Step_Tracker_12</name>
        <label>Create Cadence Step Tracker</label>
        <locationX>600</locationX>
        <locationY>700</locationY>
        <assignRecordIdToReference>CadenceStepTrackerToStartId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Cadence_Tracker_13</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionCadenceStepId__NotFound</field>
            <value>
                <elementReference>CadenceStepToStartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionCadenceTrackerId__NotFound</field>
            <value>
                <elementReference>CadenceTrackerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>ActionCadenceStepTracker</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Cadence_Step_Tracker_17</name>
        <label>Create Cadence Step Tracker</label>
        <locationX>800</locationX>
        <locationY>700</locationY>
        <assignRecordIdToReference>CadenceStepTrackerToStartId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Cadence_Tracker_18</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionCadenceStepId__NotFound</field>
            <value>
                <elementReference>CadenceStepToStartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionCadenceTrackerId__NotFound</field>
            <value>
                <elementReference>CadenceTrackerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>ActionCadenceStepTracker</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Cadence_Tracker_5</name>
        <label>Create Cadence Tracker</label>
        <locationX>200</locationX>
        <locationY>200</locationY>
        <assignRecordIdToReference>CadenceTrackerId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_RootCS_6</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionCadenceId__NotFound</field>
            <value>
                <stringValue>77C0N0000004C9IUAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <stringValue>Running</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId__NotFound</field>
            <value>
                <elementReference>TargetId</elementReference>
            </value>
        </inputAssignments>
        <object>ActionCadenceTracker</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_CS_2</name>
        <label>Lookup CS</label>
        <locationX>600</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Next_CS_3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CadenceStepToCompleteId</elementReference>
            </value>
        </filters>
        <object>ActionCadenceStep</object>
        <outputAssignments>
            <assignToReference>CadenceStepToCompleteName</assignToReference>
            <field>StepName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_CST_1</name>
        <label>Lookup CST</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Cadence_Step_Tracker_4</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CadenceStepTrackerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>ActionCadenceStepTracker</object>
        <outputAssignments>
            <assignToReference>CadenceStepToCompleteId</assignToReference>
            <field>ActionCadenceStepId__NotFound</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CadenceTrackerId</assignToReference>
            <field>ActionCadenceTrackerId__NotFound</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Next_CS_3</name>
        <label>Lookup Next CS</label>
        <locationX>400</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Next_Steps_10</targetReference>
        </connector>
        <filters>
            <field>ActionCadenceId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>77C0N0000004C9IUAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentStepName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CadenceStepToCompleteName</elementReference>
            </value>
        </filters>
        <object>ActionCadenceStep</object>
        <outputAssignments>
            <assignToReference>CadenceStepToStartId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CadenceStepToStartType</assignToReference>
            <field>Type</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CadenceStepToStartWaitTime</assignToReference>
            <field>WaitTimeInSeconds</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_RootCS_6</name>
        <label>Lookup RootCS</label>
        <locationX>200</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Next_CS_3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>8C80N0000004CGgSAM</stringValue>
            </value>
        </filters>
        <object>ActionCadenceStep</object>
        <outputAssignments>
            <assignToReference>CadenceStepToCompleteName</assignToReference>
            <field>StepName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Exit_On_Success</name>
        <label>Exit On Success</label>
        <locationX>200</locationX>
        <locationY>700</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CadenceTrackerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionReason</field>
            <value>
                <stringValue>NoMoreSteps</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentStepId__NotFound</field>
            <value>
                <elementReference>CadenceStepTrackerToStartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastCompletedStepId__NotFound</field>
            <value>
                <elementReference>CadenceStepTrackerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>ActionCadenceTracker</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cadence_Step_Tracker_4</name>
        <label>Update Cadence Step Tracker</label>
        <locationX>600</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Lookup_CS_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CadenceStepTrackerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompletionReason</field>
            <value>
                <elementReference>CadenceStepTrackerCompletionReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ActionCadenceStepTracker</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cadence_Tracker_13</name>
        <label>Update Cadence Tracker</label>
        <locationX>600</locationX>
        <locationY>800</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CadenceTrackerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentStepId__NotFound</field>
            <value>
                <elementReference>CadenceStepTrackerToStartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastCompletedStepId__NotFound</field>
            <value>
                <elementReference>CadenceStepTrackerId</elementReference>
            </value>
        </inputAssignments>
        <object>ActionCadenceTracker</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cadence_Tracker_18</name>
        <label>Update Cadence Tracker</label>
        <locationX>800</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>Wait_For_Time_19</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CadenceTrackerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentStepId__NotFound</field>
            <value>
                <elementReference>CadenceStepTrackerToStartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastCompletedStepId__NotFound</field>
            <value>
                <elementReference>CadenceStepTrackerId</elementReference>
            </value>
        </inputAssignments>
        <object>ActionCadenceTracker</object>
    </recordUpdates>
    <startElementReference>Is_CST_Id_Null_8</startElementReference>
    <variables>
        <name>CadenceStepToCompleteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CadenceStepToCompleteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CadenceStepToStartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CadenceStepToStartType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CadenceStepToStartWaitTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CadenceStepTrackerCompletionReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CadenceStepTrackerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CadenceStepTrackerToStartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CadenceTrackerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RestartFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TargetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait_For_Time_19</name>
        <label>Wait For Time</label>
        <locationX>800</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_For_Time_Event</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Set_CadenceStepTrackerIdRef_21</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <elementReference>Wait_Formula_20</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait for Time Event</label>
        </waitEvents>
    </waits>
</Flow>
