SF_CodeBase/flows/New_Lead_Creation_Flow-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>direct_incoming_email_choice</name>
        <choiceText>Direct Incoming Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>direct incoming email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duration_of_Event_30_min</name>
        <choiceText>30 min</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Duration_of_Event_45_min</name>
        <choiceText>45 min</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Duration_of_Event_60_min</name>
        <choiceText>60 min</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Facebook_Comment_Lead</name>
        <choiceText>Facebook Comment Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Facebook Comment Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manual_Research_CC_Lead</name>
        <choiceText>Manual Research Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Research Cold Call Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>Walk_In_Lead</name>
        <choiceText>Walk In Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Walk In Lead</stringValue>
        </value>
    </choices>
    <constants>
        <name>Duration_in_minutes</name>
        <dataType>Number</dataType>
    </constants>
    <constants>
        <name>EventDuration</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Lead_Status_Decision</name>
        <label>Lead Status?</label>
        <locationX>410</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Status_is_Rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>New_Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Detailed_Rejection_Reasons</targetReference>
            </connector>
            <label>Status is Rejected</label>
        </rules>
        <rules>
            <name>Status_is_Lead_Pool_to_Assessment_Call_scheduled_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>New_Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reached Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reached decision maker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Pool</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessment Call scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Walk_In_Screen</targetReference>
            </connector>
            <label>Status is Lead Pool to Assessment Call scheduled</label>
        </rules>
        <rules>
            <name>Status_is_Lost_Decision_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lost_Lead_Screen</targetReference>
            </connector>
            <label>Status is Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Walk_in_or_manual_research_decision</name>
        <label>Walk in or manual research?</label>
        <locationX>943</locationX>
        <locationY>136</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Walk_in_Lead_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Choose_from_here_start_screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Walk_In_Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Outbound_Lead</targetReference>
            </connector>
            <label>Walk in Lead</label>
        </rules>
        <rules>
            <name>Manual_research_Lead_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Choose_from_here_start_screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Manual_Research_CC_Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Manual_Research_Lead_CC</targetReference>
            </connector>
            <label>Manual research Lead</label>
        </rules>
        <rules>
            <name>New_Facebook_Comment_Lead_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Choose_from_here_start_screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Facebook_Comment_Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Facebook_Comment_Lead</targetReference>
            </connector>
            <label>New Facebook Comment Lead</label>
        </rules>
        <rules>
            <name>direct_incoming_email_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Choose_from_here_start_screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>direct_incoming_email_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_incoming_email_Lead</targetReference>
            </connector>
            <label>direct incoming email</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Event_Duration_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShowAs</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Event_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_Lost_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lost_Reason_Lead__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSalutationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lost_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lost_Reason_Lead__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpeningHours_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Opening_Hours__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Walk_In_Result</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Outbound_Walk_In_Result__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Zeitgold_Rejection_Reasons_MultiPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Zeitgold_Rejection_Reasons__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Owner ID Variable for New Note Flow</description>
        <name>OwnerIDFlow</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>TimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>New Lead Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Lead Creation Flow 1.2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_incoming_email_Lead</name>
        <label>Create incoming email Lead</label>
        <locationX>1953</locationX>
        <locationY>824</locationY>
        <connector>
            <targetReference>SucessScreen_directincomingemail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Message_direct_incoming_email_lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_direct_incoming_email_lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_direct_incoming_email_lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_direct_incoming_email_lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_direct_incoming_email_lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Direct incoming Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_direct_incoming_email_lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation_directincomingemailLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Action__c</field>
            <value>
                <stringValue>inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Medium__c</field>
            <value>
                <stringValue>email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <stringValue>direct incoming email</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Facebook_Comment_Lead</name>
        <label>Create new Facebook Comment Lead</label>
        <locationX>1461</locationX>
        <locationY>824</locationY>
        <connector>
            <targetReference>Sucess_Screen3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Facebook_Comment_Lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_Facebook_Comment_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Facebook_Comment_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_Facebook_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_Facebook_Comment_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Cold Call - facebook comment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Faceboo_Comment_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Action__c</field>
            <value>
                <stringValue>outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Campaign__c</field>
            <value>
                <stringValue>facebook comment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Medium__c</field>
            <value>
                <stringValue>cold call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <stringValue>manual research</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>413</locationX>
        <locationY>821</locationY>
        <assignRecordIdToReference>FlowID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Walk_In_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>E_Mail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Next_Step_date__c</field>
            <value>
                <elementReference>Next_Step_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>LeadFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Outbound Walk In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobileNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Next_Step_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opening_Hours__c</field>
            <value>
                <elementReference>OpeningHours_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Telefonnummer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_2__c</field>
            <value>
                <elementReference>Telefonnummer_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Postleitzahl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_Lead_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Action__c</field>
            <value>
                <stringValue>outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Medium__c</field>
            <value>
                <stringValue>walk-in</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <stringValue>cold walk-in</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_manual_Research_Lead</name>
        <label>New manual Research Lead</label>
        <locationX>1030</locationX>
        <locationY>823</locationY>
        <connector>
            <targetReference>Sucess_Screen2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Manual_Lead_Creation_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_manual_research_lead_CC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_manual_research_lead_CC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_Manual_research_Lead_CC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_manual_research_lead_CC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Cold Call - manual research</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number_manual_research_Lead_CC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation_Dropdown_CCL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Action__c</field>
            <value>
                <stringValue>outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Campaign__c</field>
            <value>
                <stringValue>AE Research</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Medium__c</field>
            <value>
                <stringValue>manual research</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <stringValue>google search</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Walk_In_Event</name>
        <label>Create Walk In Event</label>
        <locationX>413</locationX>
        <locationY>954</locationY>
        <assignRecordIdToReference>FlowID</assignRecordIdToReference>
        <connector>
            <targetReference>Sucess_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Event_Failure_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Walk_In_Start_Time_ScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Walk_In_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Walk_In_End_Time_ScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrivate</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outbound_Walk_In_Result__c</field>
            <value>
                <elementReference>Walk_In_Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Walk_In_Start_Time_ScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Walk_In_Text_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Event_Type_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>FlowID</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <screens>
        <name>Create_Event_Failure_Screen</name>
        <label>Create Event Failure Screen</label>
        <locationX>818</locationX>
        <locationY>956</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Walk_In_Screen</targetReference>
        </connector>
        <fields>
            <name>FailedtoCreateEventOutput</name>
            <fieldText>{!CreateEventFailureText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Detailed_Rejection_Reasons</name>
        <label>Why was this Lead rejected?</label>
        <locationX>93</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Walk_In_Screen</targetReference>
        </connector>
        <fields>
            <name>Zeitgold_Rejection_Reasons_MultiPicklist_Input</name>
            <choiceReferences>Zeitgold_Rejection_Reasons_MultiPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Zeitgold Rejection Reasons</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Detailed_Rejection_Reason_TextField</name>
            <dataType>String</dataType>
            <fieldText>Detailed Lost or Rejection Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Annual_Revenue_Screen_Input</name>
            <dataType>Number</dataType>
            <fieldText>Jahresumsatz</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Bitte ausfüllen, besonders, wenn das Unternehmen zu klein ist.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure_Facebook_Comment_Lead</name>
        <label>Failure Facebook Comment Lead</label>
        <locationX>1723</locationX>
        <locationY>825</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Facebook_Comment_Lead</targetReference>
        </connector>
        <fields>
            <name>Failure_Message_Screen_FBCommentScreen</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Sorry, there was an Error Creating the Lead for {!Company_Facebook_Comment_Lead}.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Could you please check if this Lead is already in Salesforce?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure_Message_direct_incoming_email_lead</name>
        <label>Failure</label>
        <locationX>2185</locationX>
        <locationY>822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_incoming_email_Lead</targetReference>
        </connector>
        <fields>
            <name>Failure_message</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry, there was an Error Creating the Lead for {!Company_direct_incoming_email_lead}.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Could you please check if this Lead is already in Salesforce?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure_Screen</name>
        <label>Failure Screen</label>
        <locationX>816</locationX>
        <locationY>826</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Outbound_Lead</targetReference>
        </connector>
        <fields>
            <name>FailedtoCreateLeadOutput</name>
            <fieldText>{!FailureTextMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>{!FailureTextMessage}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lost_Lead_Screen</name>
        <label>Why is this Lead Lost?</label>
        <locationX>720</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Walk_In_Screen</targetReference>
        </connector>
        <fields>
            <name>Lost_Reason_Picklist_input</name>
            <choiceReferences>Lost_Reason_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lost Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Detailed_Lost_Reason_TextField</name>
            <dataType>String</dataType>
            <fieldText>Detailed Lost Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manual_Lead_Creation_Failure</name>
        <label>Manual Lead Creation Failure</label>
        <locationX>1265</locationX>
        <locationY>824</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Manual_Research_Lead_CC</targetReference>
        </connector>
        <fields>
            <name>FailureMessage_manualresearchlead</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry, there was an Error Creating the Lead for {!Company_manual_research_lead_CC}.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Could you please check if this Lead is already in Salesforce?&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Facebook_Comment_Lead</name>
        <label>New Facebook Comment Lead</label>
        <locationX>1456</locationX>
        <locationY>324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_Facebook_Comment_Lead</targetReference>
        </connector>
        <fields>
            <name>First_Name_Facebook_Lead</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name_Facebook_Comment_Lead</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Facebook_Comment_Lead</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_Faceboo_Comment_Lead</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_Facebook_Comment_Lead</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_incoming_email_Lead</name>
        <label>New direct incoming email Lead</label>
        <locationX>1947</locationX>
        <locationY>324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_incoming_email_Lead</targetReference>
        </connector>
        <fields>
            <name>Salutation_directincomingemailLead</name>
            <choiceReferences>LeadSalutationPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name_direct_incoming_email_lead</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name_direct_incoming_email_lead</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_direct_incoming_email_lead</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_direct_incoming_email_lead</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_direct_incoming_email_lead</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Manual_Research_Lead_CC</name>
        <label>New Cold Call - Manual Research Lead</label>
        <locationX>1029</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_manual_Research_Lead</targetReference>
        </connector>
        <fields>
            <name>Salutation_Dropdown_CCL</name>
            <choiceReferences>LeadSalutationPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name_Manual_research_Lead_CC</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name_manual_research_lead_CC</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_manual_research_lead_CC</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_manual_research_lead_CC</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_Number_manual_research_Lead_CC</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>+49</stringValue>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_manual_research_lead</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Outbound_Lead</name>
        <label>New Outbound Lead</label>
        <locationX>410</locationX>
        <locationY>136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lead_Status_Decision</targetReference>
        </connector>
        <fields>
            <name>LeadFirstName</name>
            <dataType>String</dataType>
            <fieldText>Vorname</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Falls du keinen Vornamen hast, trage hier bitte &amp;quot;Zeitgold&amp;quot; ein.&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Nachname</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Falls du keinen Nachnamen hast, trage hier bitte &amp;quot;Interessent&amp;quot; ein.&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CompanyName</name>
            <dataType>String</dataType>
            <fieldText>Firma</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OpeningTimesDropdown</name>
            <choiceReferences>OpeningHours_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Öffnungszeit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Straße &amp; Nummer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postleitzahl</name>
            <dataType>String</dataType>
            <fieldText>Postleitzahl</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Berlin</stringValue>
            </defaultValue>
            <fieldText>Stadt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Telefonnummer</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>+49</stringValue>
            </defaultValue>
            <fieldText>Telefon</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please add &amp;quot;+49&amp;quot; to every Number.&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.
maybe you forgot to type &quot;+49&quot; infront of the Number.</errorMessage>
                <formulaExpression>ISNUMBER (Telefonnummer) &amp;&amp; Contains (Telefonnummer,&quot;+&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Telefonnummer_2</name>
            <dataType>String</dataType>
            <fieldText>Telefon 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. Try to add +49 in front of the Number</errorMessage>
                <formulaExpression>ISNUMBER (Telefonnummer_2) &amp;&amp; Contains (Telefonnummer_2,&quot;+&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>MobileNumber</name>
            <dataType>String</dataType>
            <fieldText>Mobilnummer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. Try to add &quot;+49&quot; in front of the Number</errorMessage>
                <formulaExpression>ISNUMBER (MobileNumber) &amp;&amp; Contains (MobileNumber,&quot;+&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>E_Mail</name>
            <dataType>String</dataType>
            <fieldText>E-Mail</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. Did you typed the email address corretly?</errorMessage>
                <formulaExpression>Contains (E_Mail,&quot;@&quot;) &amp;&amp; Contains (E_Mail,&quot;.&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>New_Lead_Status</name>
            <choiceReferences>Lead_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_Step_Text</name>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_Step_Date</name>
            <dataType>Date</dataType>
            <fieldText>Next Step Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>{!Create_New_Lead}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Scree_Flow</name>
        <label>Start Screen</label>
        <locationX>944</locationX>
        <locationY>20</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Walk_in_or_manual_research_decision</targetReference>
        </connector>
        <fields>
            <name>WelcomeMessageFlow</name>
            <fieldText>{!WelcomeMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_Choose_from_here_start_screen</name>
            <choiceReferences>Walk_In_Lead</choiceReferences>
            <choiceReferences>Manual_Research_CC_Lead</choiceReferences>
            <choiceReferences>Facebook_Comment_Lead</choiceReferences>
            <choiceReferences>direct_incoming_email_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Choose from here:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucess_Screen</name>
        <label>Sucess</label>
        <locationX>413</locationX>
        <locationY>1073</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Congrats_Text_Output</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Congratulations !!!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Lead for &lt;FONT KERNING=&quot;1&quot;&gt;{!CompanyName} &lt;/FONT&gt;was sucessfully created.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Go and make some more Walk Ins ;)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucess_Screen2</name>
        <label>Sucess</label>
        <locationX>1029</locationX>
        <locationY>1067</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SucessText2</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Lead {!First_Name_Manual_research_Lead_CC}, {!Last_Name_manual_research_lead_CC} from {!Company_manual_research_lead_CC}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;was created. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Happy Closing!!!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucess_Screen3</name>
        <label>Sucess</label>
        <locationX>1460</locationX>
        <locationY>1062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sucess_screen_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Facebook Comment Lead for {!Company_Facebook_Comment_Lead} was created.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Good Luck!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SucessScreen_directincomingemail</name>
        <label>Success</label>
        <locationX>1952</locationX>
        <locationY>1056</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_direct_incoming_email_lead_creation</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Congratulations, the Lead for {!CompanyName} was successfully created.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Happy closing!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Walk_In_Screen</name>
        <label>Walk In Screen</label>
        <locationX>412</locationX>
        <locationY>587</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Lead</targetReference>
        </connector>
        <fields>
            <name>Walk_In_Result_Input_Screen</name>
            <choiceReferences>Walk_In_Result</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Walk In Result</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Walk_In_Start_Time_ScreenInput</name>
            <dataType>DateTime</dataType>
            <fieldText>Wann hast du den Walk In begonnen?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Walk_In_End_Time_ScreenInput</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>TimeNow</elementReference>
            </defaultValue>
            <fieldText>Wann hast du den Walk In abgeschlossen?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Walk_In_Description</name>
            <fieldText>Notizen</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type_Walk_In_Lead</name>
            <choiceReferences>Event_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Start_Scree_Flow</startElementReference>
    <textTemplates>
        <name>CreateEventFailureText</name>
        <text>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Lead was created but the Walk In could not be tracked. Please double check your entrys on the last screen.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FailureTextMessage</name>
        <text>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Something went wrong with this flow.&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your admin has received an email about this error.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please check if the Lead you want to create is already in Salesforce.&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Just a basic title for a new automatic created note</description>
        <name>New_Note_Title</name>
        <text>New Note</text>
    </textTemplates>
    <textTemplates>
        <name>Walk_In_Text_Template</name>
        <text>Walk In</text>
    </textTemplates>
    <textTemplates>
        <name>WelcomeMessage</name>
        <text>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You want to create a new Lead?&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please choose from the following List from where you want to create the new Lead&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>FlowID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_New_Lead</elementReference>
        </value>
    </variables>
    <variables>
        <name>Lead_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Owner_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
