SF_CodeBase/flows/Switch_case_status_to_open_if_case_split_FALSE-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>check status</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

AND(
ISCHANGED([Case].Create_Case_Split__c), 
[Case].Create_Case_Split__c = false
), 

OR(
ISPICKVAL([Case].Accounting_CCA_Status__c, &quot;&quot;),
ISPICKVAL([Case].Accounting_CCA_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Accounting_CCA_Status__c, &quot;Solved&quot;)
), 

OR(
ISPICKVAL([Case].Accounting_DS_Status__c, &quot;&quot; ),
ISPICKVAL([Case].Accounting_DS_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Accounting_DS_Status__c , &quot;Solved&quot;)
), 

OR(
ISPICKVAL([Case].Digitalization_CCA_Status__c , &quot;&quot; ),
ISPICKVAL([Case].Digitalization_CCA_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Digitalization_CCA_Status__c, &quot;Solved&quot;)
),

OR(
ISPICKVAL([Case].Digitalization_DS_Status__c , &quot;&quot; ),
ISPICKVAL([Case].Digitalization_DS_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Digitalization_DS_Status__c, &quot;Solved&quot;)
), 

OR(
ISPICKVAL([Case].Payroll_CCA_Status__c, &quot;&quot; ),
ISPICKVAL([Case].Payroll_CCA_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Payroll_CCA_Status__c, &quot;Solved&quot;)
), 

OR(
ISPICKVAL([Case].Payroll_DS_Status__c , &quot;&quot; ),
ISPICKVAL([Case].Payroll_DS_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Payroll_DS_Status__c, &quot;Solved&quot; )
), 

OR(
ISPICKVAL([Case].Payments_CCA_Status__c , &quot;&quot;),
ISPICKVAL([Case].Payments_CCA_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Payments_CCA_Status__c, &quot;Solved&quot; )
), 

OR(
ISPICKVAL([Case].Payments_DS_Status__c, &quot;&quot; ),
ISPICKVAL([Case].Payments_DS_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Payments_DS_Status__c, &quot;Solved&quot; )
), 

OR(
ISPICKVAL([Case].Onboarding_CCA_Status__c, &quot;&quot;),
ISPICKVAL([Case].Onboarding_CCA_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Onboarding_CCA_Status__c, &quot;Solved&quot;)
), 

OR(
ISPICKVAL([Case].Onboarding_DS_Status__c, &quot;&quot;),
ISPICKVAL([Case].Onboarding_DS_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Onboarding_DS_Status__c, &quot;Solved&quot;)
), 

OR(
ISPICKVAL([Case].Support_CCA_Status__c, &quot;&quot; ),
ISPICKVAL([Case].Support_CCA_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Support_CCA_Status__c, &quot;Solved&quot; )
), 

OR(
ISPICKVAL([Case].Support_DS_Status__c, &quot;&quot;),
ISPICKVAL([Case].Support_DS_Status__c, &quot;Closed&quot;),
ISPICKVAL([Case].Support_DS_Status__c, &quot;Solved&quot;)
)

)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(

AND(
ISCHANGED({!myVariable_current.Create_Case_Split__c}), 
{!myVariable_current.Create_Case_Split__c} = false
), 

OR(
ISPICKVAL({!myVariable_current.Accounting_CCA_Status__c}, &quot;&quot;),
ISPICKVAL({!myVariable_current.Accounting_CCA_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Accounting_CCA_Status__c}, &quot;Solved&quot;)
), 

OR(
ISPICKVAL({!myVariable_current.Accounting_DS_Status__c}, &quot;&quot; ),
ISPICKVAL({!myVariable_current.Accounting_DS_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Accounting_DS_Status__c} , &quot;Solved&quot;)
), 

OR(
ISPICKVAL({!myVariable_current.Digitalization_CCA_Status__c} , &quot;&quot; ),
ISPICKVAL({!myVariable_current.Digitalization_CCA_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Digitalization_CCA_Status__c}, &quot;Solved&quot;)
),

OR(
ISPICKVAL({!myVariable_current.Digitalization_DS_Status__c} , &quot;&quot; ),
ISPICKVAL({!myVariable_current.Digitalization_DS_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Digitalization_DS_Status__c}, &quot;Solved&quot;)
), 

OR(
ISPICKVAL({!myVariable_current.Payroll_CCA_Status__c}, &quot;&quot; ),
ISPICKVAL({!myVariable_current.Payroll_CCA_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Payroll_CCA_Status__c}, &quot;Solved&quot;)
), 

OR(
ISPICKVAL({!myVariable_current.Payroll_DS_Status__c} , &quot;&quot; ),
ISPICKVAL({!myVariable_current.Payroll_DS_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Payroll_DS_Status__c}, &quot;Solved&quot; )
), 

OR(
ISPICKVAL({!myVariable_current.Payments_CCA_Status__c} , &quot;&quot;),
ISPICKVAL({!myVariable_current.Payments_CCA_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Payments_CCA_Status__c}, &quot;Solved&quot; )
), 

OR(
ISPICKVAL({!myVariable_current.Payments_DS_Status__c}, &quot;&quot; ),
ISPICKVAL({!myVariable_current.Payments_DS_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Payments_DS_Status__c}, &quot;Solved&quot; )
), 

OR(
ISPICKVAL({!myVariable_current.Onboarding_CCA_Status__c}, &quot;&quot;),
ISPICKVAL({!myVariable_current.Onboarding_CCA_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Onboarding_CCA_Status__c}, &quot;Solved&quot;)
), 

OR(
ISPICKVAL({!myVariable_current.Onboarding_DS_Status__c}, &quot;&quot;),
ISPICKVAL({!myVariable_current.Onboarding_DS_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Onboarding_DS_Status__c}, &quot;Solved&quot;)
), 

OR(
ISPICKVAL({!myVariable_current.Support_CCA_Status__c}, &quot;&quot; ),
ISPICKVAL({!myVariable_current.Support_CCA_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Support_CCA_Status__c}, &quot;Solved&quot; )
), 

OR(
ISPICKVAL({!myVariable_current.Support_DS_Status__c}, &quot;&quot;),
ISPICKVAL({!myVariable_current.Support_DS_Status__c}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Support_DS_Status__c}, &quot;Solved&quot;)
)

)</expression>
    </formulas>
    <interviewLabel>Switch_case_status_to_open_if_case_split_FALSE-1_InterviewLabel</interviewLabel>
    <label>Switch case status to open if case split=FALSE</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update case status</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
