SF_CodeBase/flows/Walk_In_2-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Duration_of_Event_30_min</name>
        <choiceText>30 min</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Duration_of_Event_45_min</name>
        <choiceText>45 min</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Duration_of_Event_60_min</name>
        <choiceText>60 min</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>Duration_in_minutes</name>
        <dataType>Number</dataType>
    </constants>
    <constants>
        <name>EventDuration</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Lead_Status_Decision</name>
        <label>Lead Status?</label>
        <locationX>404</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Status_is_Rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Detailed_Rejection_Reasons</targetReference>
            </connector>
            <label>Status is Rejected</label>
        </rules>
        <rules>
            <name>Status_is_Lead_Pool_to_Assessment_Call_scheduled_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reached Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reached decision maker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Pool</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessment Call scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead</targetReference>
            </connector>
            <label>Status is Lead Pool to Assessment Call scheduled</label>
        </rules>
        <rules>
            <name>Status_is_Lost_Decision_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lost_Lead_Screen</targetReference>
            </connector>
            <label>Status is Lost</label>
        </rules>
    </decisions>
    <description>This flow is used, when a FS AE does a Walk In but no Lead is in SF.</description>
    <dynamicChoiceSets>
        <name>Event_Duration_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShowAs</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_Lost_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lost_Reason_Lead__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lost_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lost_Reason_Lead__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpeningHours_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Opening_Hours__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Walk_In_Result</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Outbound_Walk_In_Result__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Zeitgold_Rejection_Reasons_MultiPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Zeitgold_Rejection_Reasons__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Owner ID Variable for New Note Flow</description>
        <name>OwnerIDFlow</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>TimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>FS-Walk In Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FS-Walk In Lead 2.2.2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lost_Lead</name>
        <label>Create Lost Lead</label>
        <locationX>557</locationX>
        <locationY>352</locationY>
        <assignRecordIdToReference>FlowID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Lead_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Lost_or_Rejection_Reason__c</field>
            <value>
                <elementReference>Detailed_Lost_Reason_TextField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>E_Mail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Next_Step_date__c</field>
            <value>
                <elementReference>Next_Step_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>LeadFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Walk In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Reason_Lead__c</field>
            <value>
                <elementReference>Lost_Reason_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobileNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Next_Step_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opening_Hours__c</field>
            <value>
                <elementReference>OpeningHours_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Telefonnummer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_2__c</field>
            <value>
                <elementReference>Telefonnummer_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Postleitzahl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_Lead_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Action__c</field>
            <value>
                <stringValue>outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Medium__c</field>
            <value>
                <stringValue>walk-in</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <stringValue>cold walk-in</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lost_or_rejected_Lead</name>
        <label>Create Rejected Lead</label>
        <locationX>250</locationX>
        <locationY>354</locationY>
        <assignRecordIdToReference>FlowID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Lead_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>Annual_Revenue_Screen_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Lost_or_Rejection_Reason__c</field>
            <value>
                <elementReference>Detailed_Rejection_Reason_TextField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>E_Mail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>LeadFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Walk In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobileNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opening_Hours__c</field>
            <value>
                <elementReference>OpeningTimesDropdown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Telefonnummer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_2__c</field>
            <value>
                <elementReference>Telefonnummer_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Postleitzahl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_Lead_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Action__c</field>
            <value>
                <stringValue>outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Medium__c</field>
            <value>
                <stringValue>walk-in</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <stringValue>cold walk-in</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zeitgold_Rejection_Reasons__c</field>
            <value>
                <elementReference>Zeitgold_Rejection_Reasons_MultiPicklist_Input</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>404</locationX>
        <locationY>352</locationY>
        <assignRecordIdToReference>FlowID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Lead_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>E_Mail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Next_Step_date__c</field>
            <value>
                <elementReference>Next_Step_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>LeadFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Walk In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobileNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Next_Step_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opening_Hours__c</field>
            <value>
                <elementReference>OpeningHours_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Telefonnummer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_2__c</field>
            <value>
                <elementReference>Telefonnummer_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Postleitzahl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_Lead_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Action__c</field>
            <value>
                <stringValue>outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Medium__c</field>
            <value>
                <stringValue>walk-in</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <stringValue>cold walk-in</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Walk_In_Event</name>
        <label>Create Walk In Event</label>
        <locationX>403</locationX>
        <locationY>761</locationY>
        <assignRecordIdToReference>FlowID</assignRecordIdToReference>
        <connector>
            <targetReference>Sucess_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Walk_In_Start_Time_ScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Walk_In_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Walk_In_End_Time_ScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrivate</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outbound_Walk_In_Result__c</field>
            <value>
                <elementReference>Walk_In_Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Walk_In_Start_Time_ScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Walk_In_Text_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Walk In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Lead_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Lead_ID</name>
        <label>Find Lead ID</label>
        <locationX>401</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Walk_In_Screen</targetReference>
        </connector>
        <filters>
            <field>City</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>E_Mail</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowID</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Walk In</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Telefonnummer</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Postleitzahl</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Lead_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>Street</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Lead_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Owner_ID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Detailed_Rejection_Reasons</name>
        <label>Why was this Lead rejected?</label>
        <locationX>97</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Lost_or_rejected_Lead</targetReference>
        </connector>
        <fields>
            <name>Zeitgold_Rejection_Reasons_MultiPicklist_Input</name>
            <choiceReferences>Zeitgold_Rejection_Reasons_MultiPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Zeitgold Rejection Reasons</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Detailed_Rejection_Reason_TextField</name>
            <dataType>String</dataType>
            <fieldText>Detailed Lost or Rejection Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Annual_Revenue_Screen_Input</name>
            <dataType>Number</dataType>
            <fieldText>Jahresumsatz</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Bitte ausfüllen, besonders, wenn das Unternehmen zu klein ist.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lost_Lead_Screen</name>
        <label>Why is this Lead Lost?</label>
        <locationX>714</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Lost_Lead</targetReference>
        </connector>
        <fields>
            <name>Lost_Reason_Picklist_input</name>
            <choiceReferences>Lost_Reason_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lost Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Detailed_Lost_Reason_TextField</name>
            <dataType>String</dataType>
            <fieldText>Detailed Lost Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Outbound_Lead</name>
        <label>New Outbound Lead</label>
        <locationX>403</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lead_Status_Decision</targetReference>
        </connector>
        <fields>
            <name>LeadFirstName</name>
            <dataType>String</dataType>
            <fieldText>Vorname</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Falls du keinen Vornamen hast, trage hier bitte &amp;quot;Zeitgold&amp;quot; ein.&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Nachname</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Falls du keinen Nachnamen hast, trage hier bitte &amp;quot;Interessent&amp;quot; ein.&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CompanyName</name>
            <dataType>String</dataType>
            <fieldText>Firma</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpeningTimesDropdown</name>
            <choiceReferences>OpeningHours_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Öffnungszeit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Straße &amp; Nummer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postleitzahl</name>
            <dataType>String</dataType>
            <fieldText>Postleitzahl</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>Stadt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Telefonnummer</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>+49</stringValue>
            </defaultValue>
            <fieldText>Telefon</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please add &amp;quot;+49&amp;quot; to every Number.&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.
maybe you forgot to type &quot;+49&quot; infront of the Number.</errorMessage>
                <formulaExpression>ISNUMBER (Telefonnummer) &amp;&amp; Contains (Telefonnummer,&quot;+&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Telefonnummer_2</name>
            <dataType>String</dataType>
            <fieldText>Telefon 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. Try to add +49 in front of the Number</errorMessage>
                <formulaExpression>ISNUMBER (Telefonnummer_2) &amp;&amp; Contains (Telefonnummer_2,&quot;+&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>MobileNumber</name>
            <dataType>String</dataType>
            <fieldText>Mobilnummer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. Try to add &quot;+49&quot; in front of the Number</errorMessage>
                <formulaExpression>ISNUMBER (MobileNumber) &amp;&amp; Contains (MobileNumber,&quot;+&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>E_Mail</name>
            <dataType>String</dataType>
            <fieldText>E-Mail</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. Did you typed the email address corretly?</errorMessage>
                <formulaExpression>Contains (E_Mail,&quot;@&quot;) &amp;&amp; Contains (E_Mail,&quot;.&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>New_Lead_Status</name>
            <choiceReferences>Lead_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_Step_Text</name>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_Step_Date</name>
            <dataType>Date</dataType>
            <fieldText>Next Step Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>{!Create_New_Lead}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucess_Screen</name>
        <label>Sucess</label>
        <locationX>403</locationX>
        <locationY>910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Congrats_Text_Output</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Congratulations !!!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Lead for &lt;FONT KERNING=&quot;1&quot;&gt;{!CompanyName} &lt;/FONT&gt;was sucessfully created.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Go and make some more Walk Ins ;)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Walk_In_Screen</name>
        <label>Walk In Screen</label>
        <locationX>404</locationX>
        <locationY>635</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Walk_In_Event</targetReference>
        </connector>
        <fields>
            <name>Walk_In_Result_Input_Screen</name>
            <choiceReferences>Walk_In_Result</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Walk In Result</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Walk_In_Start_Time_ScreenInput</name>
            <dataType>DateTime</dataType>
            <fieldText>Wann hast du den Walk In begonnen?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Walk_In_End_Time_ScreenInput</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>TimeNow</elementReference>
            </defaultValue>
            <fieldText>Wann hast du den Walk In abgeschlossen?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Walk_In_Description</name>
            <fieldText>Notizen</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>New_Outbound_Lead</startElementReference>
    <textTemplates>
        <description>Just a basic title for a new automatic created note</description>
        <name>New_Note_Title</name>
        <text>New Note</text>
    </textTemplates>
    <textTemplates>
        <name>Walk_In_Text_Template</name>
        <text>Walk In</text>
    </textTemplates>
    <variables>
        <name>FlowID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_New_Lead</elementReference>
        </value>
    </variables>
    <variables>
        <name>Lead_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Owner_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
